@font-face {
  font-family: Helvetica;
  src: url(../fonts/Helvetica.ttf);
}
@font-face {
  font-family: KeepCalm;
  src: url(../fonts/KeepCalm-Medium.ttf);
}
h1,
h2,
h3 {
  font-family: KeepCalm !important;
}
body {
  font-family: Helvetica !important;
}
