@import "../../../assets/scss/_variables.scss";
/* Navbar */
.Navbar {
  position: absolute;
  z-index: 99;
  bottom: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  width: 90%;
  margin: 0px 5%;
  .ListNavbar {
    margin: 0px;
    padding: 0px;
    li {
      position: relative;
      display: inline-block;
      animation-name: rollIn;
      animation-duration: 0.3s;
      color: #4f6172;
      cursor: pointer;
      padding: 0px 10px;
      span {
        width: 50px;
        height: 50px;
        display: block;
        border-radius: 100%;
        padding: 10px 5px;
        font-size: large !important;
        border: 1px solid #cac9d558;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        -ms-border-radius: 100%;
        background: #223a4b9d;
        -o-border-radius: 100%;
        img {
          width: 90%;
          height: 90%;
          margin: auto;
        }
      }
      .dropdown {
        position: absolute;
        z-index: 1000000;
        display: none;
        bottom: 40px;
        width: 100%;
        right: 0px;
        color: #ceced2;
        margin: auto;
        text-align: left;
        font-size: 10px;
        padding: 10px 0px 30px;
        height: auto;
        li {
          width: max-content;
        }
        li:hover {
          color: white;
        }
      }
      .name {
        display: none;
        position: absolute;
        margin: auto;
        width: 100%;
        font-size: 12px;
        text-align: center;
        margin: auto;
        min-width: max-content;
        left: 0px;
      }
    }
    li:hover {
      cursor: pointer !important;
      transform: scale(1.1);
      transition: 0.3s all ease-in-out;
      -webkit-transition: 0.3s all ease-in-out;
      -moz-transition: 0.3s all ease-in-out;
      -ms-transition: 0.3s all ease-in-out;
      -o-transition: 0.3s all ease-in-out;
    }
    li:hover span {
      background: #cac9d5;
      img {
        filter: brightness(0) invert(1);
        -webkit-filter: brightness(0) invert(1);
      }
    }
    li:hover .dropdown,
    li .dropdown:hover,
    li:hover .name {
      display: block;
    }
    .IconListNavbar {
      margin: 0px 20px;
      img {
        width: 60px;
        height: 60px;
      }
    }
  }
  .download_App {
    p {
      color: rgba(255, 255, 255, 0.532);
      margin: 0px;
      padding: 0px;
      font-size: 10px;
    }
    a {
      display: inline-block;
      border-radius: 8px;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      -ms-border-radius: 8px;
      -o-border-radius: 8pxa;
      border: 1px solid white;
      padding: 4px 5px;
      margin: 5px 5px 0px;
      img {
        width: 21px;
        height: 21px;
      }
    }
  }
  .Follow {
    background: #1c2329;
    border: 1px solid;
    color: white;
    border-radius: 8px;
    font-size: 15px;
    padding: 2px 10px;
    a {
      color: white !important;
      text-decoration: none;
    }
  }
}
.navbar-open {
  bottom: 30px;
}
.hidden {
  opacity: 0 !important;
}
@keyframes rollIn {
  0% {
    opacity: 0;
    transform: translate3d(0, 0, -100%) rotate3d(0, 0, 1, -120deg);
    -webkit-transform: translate3d(0, 0, -100%) rotate3d(0, 0, 1, -120deg);
    -moz-transform: translate3d(0, 0, -100%) rotate3d(0, 0, 1, -120deg);
    -ms-transform: translate3d(0, 0, -100%) rotate3d(0, 0, 1, -120deg);
    -o-transform: translate3d(0, 0, -100%) rotate3d(0, 0, 1, -120deg);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}
/****media****/

@media screen and (max-width: 992px) {
  .website,
  .mobile {
    display: none !important;
  }
  .navbar .navbar-btns-icons {
    display: none !important;
  }
  .mobile {
    border-radius: 8px;
    background: white;
  }
  .navbar .navbar-nav {
    .nav-link {
      color: black;
    }
  }
  .navbar .navbar-nav .navbar-btns {
    display: block;
  }

  .navbar .mobile {
    margin: 0px;
    text-align: center;
    box-shadow: rgba(177, 177, 177, 0.22) 8px 37px 26px 10px;
  }

  .navbar .mobile .navbar-btns a {
    display: inline-block !important;
    width: 33%;
  }
  .navbar .btn-main {
    color: #04233a;
  }
  .navbar .simple-button.send button,
  .navbar .simple-button.send .btn {
    width: max-content;
  }
  .navbar .container {
    max-width: 100%;
  }
  .light {
    margin: 10px auto !important;
    text-align: center;
  }
}
@media screen and (min-width: 993px) {
  .website {
    display: flex;
  }
  .mobile {
    display: none !important;
  }
}

/****is-ar****/
.is-ar {
  .navbar .mobile .mobile_sec .close {
    left: 10%;
    right: auto;
  }
  .navbar .light {
    margin-left: 0px;
    margin-right: 1.5rem !important;
  }
  .off {
    margin-right: auto;
    margin-left: 0px;
  }
}

/*media" */

// @media screen and (min-width: 1280px) {
// }
@media screen and (max-width: 1486px) {
  .navbar-open {
    bottom: 20px;
  }
}

@media screen and (min-width: 2000px) {
  .Navbar {
    bottom: 13%;
  }
  .navbar-open {
    bottom: 30px;
  }
  .Navbar .ListNavbar li .dropdown {
    p {
      font-size: 15px !important;
    }
  }
}
@media screen and (min-width: 2500px) {
  .navbar-open {
    bottom: 60px;
  }
  .Navbar .ListNavbar .IconListNavbar img {
    width: 100px;
    height: 100px;
  }
  .Navbar .ListNavbar li span {
    width: 80px;
    height: 80px;
    padding: 10px;
  }
  .Navbar .ListNavbar li .dropdown {
    padding: 10px 0px 50px;
    bottom: 85px;
    p {
      font-size: 30px !important;
    }
  }
}
@media screen and (min-width: 3840px) {
  .Navbar .ListNavbar li span {
    width: 100px;
    height: 100px;
    padding: 10px;
  }
  .Navbar .ListNavbar li {
    padding: 0px 50px;
  }
  .Navbar .ListNavbar li .dropdown {
    padding: 10px 0px 50px;
    bottom: 85px;
    p {
      font-size: 40px !important;
    }
  }
  .Navbar .download_App a img {
    width: 60px;
    height: 60px;
  }
  .Navbar .download_App a {
    margin: 5px 15px 0px;
  }
  .Navbar {
    bottom: 13%;
    .ListNavbar .IconListNavbar img {
      width: 200px;
      height: 200px;
    }
  }
  .navbar-open {
    bottom: 100px;
    .ListNavbar .IconListNavbar img {
      bottom: auto;
      width: 150px;
      height: 150px;
    }
  }
}
@media screen and (min-width: 5000px) {
  .Navbar .ListNavbar li span {
    width: 150px;
    height: 150px;
    padding: 10px;
  }
  .Navbar .ListNavbar li {
    padding: 0px 50px;
  }
  .Navbar .ListNavbar li .dropdown {
    bottom: 85px;
    padding: 10px 0px 150px;
    p {
      font-size: 60px !important;
    }
  }
  .Navbar .download_App a img {
    width: 80px;
    height: 80px;
  }
  .Navbar .download_App a {
    margin: 5px 15px 0px;
  }
  .Navbar {
    bottom: 13%;
    .ListNavbar .IconListNavbar img {
      width: 300px;
      height: 300px;
    }
  }
  .navbar-open {
    bottom: 140px;
    .ListNavbar .IconListNavbar img {
      bottom: auto;
      width: 200px;
      height: 200px;
    }
  }
}
